# Ignore Ros workspace files and acs-engine outputs

# Ros Workspace Files and Folders
devel/
build/
install/
.catkin_workspace
src/CMakeLists.txt
src/argos_bridge/argos_worlds/launch.tmp.argos

# ACS-Engine output Folders
acs-engine/_output
acs-engine/translations