<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->

<launch>
    <arg name="port" default="17000" />
    <arg name="protocol" default="tcp" />

    <!-- The Message receiver node -->
    <node name="$(arg protocol)_receiver_robot" pkg="nimbro_topic_transport" type="$(arg protocol)_receiver" output="screen">

        <!-- The receiving port -->
        <param name="port" value="$(arg port)" />

        <!-- Remap odom_tf message to /tf topic -->
        <remap from="/odom_tf" to="/tf" />
    </node>
</launch>